

.navBar {
    width: 100%;
    background-color: rgb(95, 95, 95);
    overflow: hidden;
    padding: 22px 22px 22px 22px;
    bottom: 0px;
    left: 0px;
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  
  .navBar a {
    width: 25%;
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 40px;
    
  }
  
  /*.icon-bar i {
    display: none;
  }*/
  
  .navBar a:hover {
    background-color:none;
    
  }
  
  .active {
    background-color: none;
  }

  * {
    box-sizing: border-box;
  }

  @media only screen and (min-width: 1500px) and (min-height: 850PX) {

    .navBar {
      background-color: transparent;
      padding: 25px 25px 25px 25px;
    }
    .navBar a {
      color: black;
    }
  }