
.leftSideContainerProfile {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    text-align: center;
    margin: 20px;
  }
  
  .imgContainerProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .headshotProfile {
    background-color: transparent;
    width: 250px;
    height:250px;
    padding:5px;
    margin:5px;
    border-radius: 50%;
  }
  
  
  .fontTitleProfile {
    font-family: 'Raleway', sans-serif;
    font-size: 44px;
    margin: 10px;
  }
  
  .fontSubTitleLeftProfile {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    margin: 10px;
  }
  
  .flexWrapRowSocialProfile {
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    
  }

  .flexWrapRowSocialProfile i {
    text-align: center;
    padding: 10px;
    color: black;
    font-size: 60px;
  }
  
  * {
    box-sizing: border-box;
  }

  @media only screen and (min-width: 400px) {
    .fontSubTitleLeftProfile {
      font-size: 40px;
    }
    .fontTitleProfile {
      font-size: 55px;
  }
  
}