* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .mainContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

.containerLeft {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.containerRight {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
  .navContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin: 80px 10px 10px 10px;
  }

  @media only screen and (min-width: 1080px) {
    .containerLeft {
      height: 100%;
      position: sticky;
      justify-content: flex-start;
      align-self: flex-start;
      top: 0;
      left: 0;
    }
    .containerRight {
      width: 60%;
     
    }
    .mainContainer {
      justify-content: flex-start;
    }
  }

  @media only screen and (min-width: 1900px) {
    
    .containerRight {
     width: 70%;
    }

  }