

  .fontSubTitleBodyForm {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    margin: 10px 10px 20px 0px;
  }

  .rightSideContainerForm {
    flex-basis: 1300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    text-align: flex-start;
    padding-top: 27px;
    margin: 20px 20px 20px 20px;
  }

  .fontRegularForm {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    margin: 5px 5px 5px 5px;
  }

  input[type=text], input[type=email], input[type=tel], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 8px;
    resize: vertical;
    font-size: 20px;
  }
  
  button[type=submit] {
    background-color: white;
    color: black;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 50px;
    width:120px;
    display: inline-block;
    font-size: 20px;
  }
  
  button[type=submit]:hover {
    background-color: grey;
    color: white;
  }

  textarea {
height: 150px;
  }

  form {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  .cardResume {
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;*/
    border-radius: 5px;
    margin: 5px;
  }
  
  .hiddenResume {
    overflow: auto;
    width: 100%;
  }

  @media only screen and (min-width: 1080px) {
    form {
      width: 100%;
    }
  }

  @media only screen and (min-width: 1900px) {
    
  }