.rightSideContain {
    flex-basis: 1300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding-top: 27px;
  }

  .fontSubTitleBody {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    margin: 20px;
  }

  .fontReg {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    margin: 5px 5px 5px 5px;
  }

  .flexContainer {
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }

  .flexWrapRow {
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }

  .skillsFont {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin: 5px;
  }

  .skillsIcon {
    text-align: center;
    padding: 10px;
    color: black;
    font-size: 125px;
  }

  * {
    box-sizing: border-box;
  }

  @media only screen and (min-width: 400px) {
    .fontSubTitleBody {
      font-size: 40px;
    }
  
  }
  