* {
  box-sizing: border-box;
}

.rightSideContainerResume {
  flex-basis: 1300px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  text-align: flex-start;
  padding-top: 27px;
  margin: 20px 20px 20px 20px;
}

.fontSubTitleResume {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  margin: 20px;
}

.skillsFontResume {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin: 5px;
}

.fontRegularResume {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  margin: 5px 5px 5px 5px;
}

.fontBoxResume {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  margin: 5px 5px 5px 0px;
}

.skillsIcon {
  text-align: center;
  padding: 10px;
  color: black;
  font-size: 125px;
}

.flexWrapRow {
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

/* On mouse-over, add a deeper shadow 
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
*/
/* Add some padding inside the card container */
.containerResume {
  padding: 10px;
  display:flex;
}

.containerResume2 {
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
}

.img {
  flex-basis: 150px;
  border-radius: 5%;
}

.cardResume {
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;*/
  border-radius: 5px;
  margin: 5px;
}

.hiddenResume {
  overflow: auto;
  width: 100%;
}

@media only screen and (min-width: 400px) {
  .fontSubTitleResume {
    font-size: 40px;
  }
  .fontBoxResume {
    font-size: 30px;
  }
  .fontRegularResume {
    font-size: 25px;
  }
  .skillsFontResume {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1080px) {
  .cardResume {
    justify-content: flex-start;
  }

}

@media only screen and (min-width: 1500px) {
  .hiddenResume {
    height: 600px;
  }

}

@media only screen and (min-width: 1800px) {
  
  

}