* {
  box-sizing: border-box;
}

.rightSideContainerWork {
  flex-basis: 1300px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 27px;
  margin: 20px 20px 20px 20px;
}

.fontSubTitleWork {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  margin: 20px;
}

.skillsFontWork {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin: 1px;
  padding: 5px;
}

.fontRegularWork {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  margin: 5px 5px 5px 5px;
  padding: 3px;
}

/* On mouse-over, add a deeper shadow */
.cardWork:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.containerWork {
  padding: 10px;
  display:flex;
}

.containerWork2 {
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
}

img {
  width: 100%;
  border-radius: 5px;
  padding: 3px;
}
.skillsIconWork {
  text-align: center;
  padding: 20px;
  color: black;
  font-size: 175px;
}

.cardWork {
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.hiddenWork {
  overflow: auto;
  width: 100%;
  padding: 15px;
}

@media only screen and (min-width: 400px) {
  .fontSubTitleWork {
    font-size: 40px;
  }
  .fontRegularWork {
    margin: 5px 5px 5px 45px;
  }
}

@media only screen and (min-width: 500px) {
 
}

@media only screen and (min-width: 1080px) {
  .cardWork {
    justify-content: flex-start;
  }

}

@media only screen and (min-width: 1500px) {
  .hiddenWork {
    height: 600px;
  }
}

@media only screen and (min-width: 1800px) {
  
  

}
