* {
  box-sizing: border-box;
}

.rightSideContainAbout {
    flex-basis: 1300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    text-align: flex-start;
    margin: 20px;
    padding-top: 27px;
  }

  .fontSubTitleBodyAbout {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    margin: 20px;
  }

  .fontRegularAbout {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    margin: 5px 5px 5px 5px;
  }

  .flexContainerAbout {
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }

  .flexWrapRowAbout {
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }

  .skillsFontAbout {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin: 5px;
  }

  .skillsIconAbout {
    text-align: center;
    padding: 10px;
    color: black;
    font-size: 110px;
  }

  .containerAbout2 {
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
  }

  .cardAbout {
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;*/
    border-radius: 5px;
    margin: 5px;
  }
  
  .hiddenAbout {
    overflow: auto;
    width: 100%;
  }

  @media only screen and (min-width: 400px) {
    .fontSubTitleBodyAbout {
      font-size: 40px;
    }
  
  }

  @media only screen and (min-width: 1080px) {
    .cardAbout {
      justify-content: flex-start;
    }
  
  }
  
  @media only screen and (min-width: 1500px) {
    .hiddenAbout {
      height: 600px;
    }
  
  }
  